/* style.css */
@import url('https://fonts.googleapis.com/css2');

body {
    background: linear-gradient(to bottom, #478CCF, #36C2CE, #77E4C8);
    width: 100%;
    height: 100vh;
    background-size: cover; /* Adjust to fit the entire area without cutting */
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;

    .offcanvas {
        background: linear-gradient(to bottom, #77E4C8, #36C2CE, #478CCF);
        width: 280px;
        max-height: 100%;

        .nav-link {
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            font-size: 14px;
            color: #282928; /* Ensuring the text color is white */
            display: flex;
            align-items: center;
        }

        .offcanvas-title {
            font-family: 'Poppins', sans-serif;
            font-weight: 700;
            font-size: 14px;
            color: #282928; /* Ensuring the text color is white */
            display: flex;
            align-items: center;
            object-fit: cover;
        }
        svg {
            margin-right: 10px;
        }
    }
    
    .navbar-overlay {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    }
    
    .navbar-nav .nav-item {
        margin-right: 15px; /* Spacing between navbar items */
    }
    
    .navbar-nav .nav-item .nav-link {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 20px;
        color: #f6f6f6; /* Ensuring the text color is white */
        display: flex;
        align-items: center; /* Align vertically in the middle */
    }
    
    .navbar-nav .nav-item .nav-link:hover {
        color: #36C2CE !important; /* Change color on hover */
    }
    
    .navbar-nav .nav-item .nav-link svg {
        transition: fill 0.3s; /* Smooth transition for SVG fill */
    }
    
    .navbar-nav .nav-item .nav-link:hover svg {
        fill: #36C2CE; /* Change SVG fill color on hover */
    }

    .logo {
        width: 240px;  /* Set width to 370 pixels */
        height: 50px;  /* Set height to 75 pixels */
    }

    .profile {
        width: 53px;
        height: 53px;
        margin-left: 10px;
    }

    .headline {
        color: #282928;
        font-weight: 800;
        font-size: 29px;
    }

    .sub-headline {
        color: #f6f6f6;
        font-weight: 500;
        font-size: 19px;
        width: 656px;
    }

    .card {
        border-radius: 20px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        padding: 15px;
    }

    .card-img {
        width: 150px;
        height: 150px;
        object-fit: cover;
        display: block;
        margin: auto;
    }

    .card-img-modal {
        width: 100px;
        height: 100px;
        object-fit: cover;
        display: block;
        margin: auto;
    }

    .title-modal{
        font-size: 32px;
        font-weight: 800;
        color: #282928;
    }
    
    .subtitle-modal{
        font-weight: 500;
        color: #f6f6f6;
    }

    .search {
        font-size:16px; 
        width: 500px;
        color:#f6f6f6; 
        border:none; 
        cursor:pointer; 
    }

    .forum-list {
        max-height: 480px;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: none;

        a {
            text-decoration: none;
        }
    }
    
    /* Custom Scrollbar */
    .forum-list::-webkit-scrollbar {
        display: none;
    }

    .modal-content {
        background-color: #36C2CE;
        font-family: 'Poppins', sans-serif;

        .btn {
            background-color: #f6f6f6;
            border-radius: 5px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        }

        .btn:hover {
            background-color: #F97300; /* Light green */
            color: #f6f6f6;
            transition: background-color 0.3s ease;
        }

        .modal-body {
            font-weight: 500;
            color: #282928;
        }
    }

    .modal-confirm {
        background-color: #F6F6F6;
        color: #282928;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        display: flex;

        .modal-body {
            font-weight: 500;
            color: #282928;
            
            p {
                text-align: center;
                font-size: 26px;
                font-weight: 600;
            }
        }
        
        .btn-close {
            display: flex;
            justify-self: end;
        }

        .btn {
            border-radius: 5px;
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
            background-color: #36C2CE;
            color: #f6f6f6;
            align-items: center;
            justify-content: center;
            display: flex;
            justify-self: end;
            width: 120px;
        }
        .btn:hover {
            background-color: #F97300; /* Light green */
            color: #f6f6f6;
            transition: background-color 0.3s ease;
        }
    }

    /* Edit Profile */
    .edit-profile {
        .profile-picture {
            position: relative;
            width: 250px;
            height: 250px;
        }
    
        .profile-picture img {
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
        }
    
        .profile-picture .overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background 0.3s ease-in-out;
            color: white;
            opacity: 0;
            cursor: pointer;
        }
    
        .profile-picture:hover .overlay {
            background: rgba(0, 0, 0, 0.5);
            border: none;
            opacity: 1;
        }
    
        .profile-picture .icon-edit {
            font-size: 2rem;
            display: none;
        }
    
        .profile-picture:hover .icon-edit {
            display: block;
        }

        .form-label {
            font-weight: 600;
        }

        .btn-submit {
            width: 30%;
            padding: 10px;
            font-size: 16px;
            font-weight: 600;
            margin-top: 10px;
            background-color: #333;
            color: white;
            border: none;
            border-radius: 4px;
            transition: background-color 0.3s ease;
        }

        .btn-submit:hover {
            background-color: #555;
        }

        .password-container {
            position: relative;
        }

        .password-toggle {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            cursor: pointer;
            color: #6c757d;
        }

        .password-toggle:hover {
            color: #000;
        }
        
        .error-message {
            color: red;
            font-size: 0.875rem;
            margin-top: 5px;
        }
    }

    /* Psikolog Page */
    .psikolog-list {
        .card {
            width: 311px;
            height: 430px;
            position: relative;
            overflow: hidden;
            border: none;
        }
    
        .card-img-top {
            width: 100%;
            height: 100%;
            object-fit: cover; /* Ensures the image covers the card without distortion */
            position: absolute;
            top: 0;
            left: 0;
        }
    
        .card-img-overlay {
            position: absolute; /* Overlay posisinya absolut */
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); /* Gradien sebagai latar belakang */
            color: #f6f6f6; /* Mengubah warna teks agar terlihat jelas di atas overlay */
            display: flex; /* Menggunakan flexbox untuk penyelarasan */
            flex-direction: column; /* Susun konten secara vertikal */
            justify-content: flex-end; /* Menyelaraskan konten ke bagian bawah */
    
            .btn-primary {
                background-color: #36C2CE;
                color: #282928;
                font-size: 16px;
                font-weight: 700;
                font-family: 'Poppins', sans-serif;
                border: none;
            }
    
            .btn-primary:hover {
                background-color: #478CCF;
                color: #f6f6f6;
            }
    
            .detail-link {
                color: #f6f6f6;
                font-weight: 700;
                font-size: 16px;
                text-decoration: none;
            }
    
            .detail-link:hover {
                text-decoration: underline;
            }
    
            .card-title {
                font-family: 'Poppins', sans-serif;
                font-weight: 700;
                font-size: 20px;
            }
    
            .card-text {
                font-family: 'Poppins', sans-serif;
                font-weight: 400;
                font-size: 14px;
            }
        }
    }

    .psikolog-list {
        max-height: 520px;
        overflow-y: auto;
        overflow-x: hidden;
        background-color: none;
    }
    
    /* Custom Scrollbar */
    .psikolog-list::-webkit-scrollbar {
        display: none;
    }
}